<section class="login-background">
    <div class="login-frame">
        <div class="login-box">
            <h2>Serviço</h2>
            <form id="login-form">
                <input type="text" name="nome" required placeholder="Nome:">

                <input type="text" name="tipo" required placeholder="Tipo:">

                <button type="submit" class="btn-gradiente btn1">Entrar</button>
            </form>
            <div class="links">
                <a href="senha.html" class="link1">Esqueci minha senha</a>
                <a href="apiformulario.html" class="link2">Cadastrar-se</a>
            </div>
        </div>
    </div>
</section>
