* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('assets/icone.png');
    background-size: 65%;
    background-position-x: 50%;
    background-position-y: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}