*{
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.section{
    padding: 40px;
}

.place{
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}

.input-place{
width: 60%;
height: 26px;
border:2px solid #044FA1;
text-align: center;
font-size: 20px;
padding: 5px;
margin-top: 5px;
color: #000000;
}

.botao{
background-color: #fddf19;
color:#044FA1;
width: 80px;
height:40px;
margin-left:1%;
margin-top: 5px;
border: 2px solid #044FA1;
text-align: center;
font-size: 18px;
font-weight: 550;
border-radius: 3px;
}

.botao:hover{
background-color: #044FA1;
text-decoration: underline;
color: #FDDF19;
}

.place-h2{
color:#044FA1;
text-align: center;
font-size: 25px;
padding: 20px 0;
margin: 10px 0 45px 0;
text-transform: uppercase;
}

.cards{
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto;
gap: 30px;
flex-wrap: wrap;
}

.card{
align-items: center;
justify-items: center;
border: 1px solid #FDDF19;
padding: 15px 0;
margin: 5px;
margin-bottom: 30px;
}

.card img{
width: 80%;
margin-left: 11%;
}

.cards h2{
padding: 10px 0;
color: #044FA1;
}

.cards p{
padding: 5px 0;
}

.info-btn{
width: 160px;
height:40px;
}