<section>
    <div class="section">
        <div class="place">
            <input type="text" placeholder="pesquisar unidades" class="input-place">
            <button class="botao">buscar</button>
        </div>
        <div class="place-h2">
            <h2>Unidades mais próximas de você</h2>
        </div>

        <div class="cards">
            <div class="card card1">
                <img src="/assets/exemplo-de-posto.jpeg" alt="Posto">
                <h2>Nome do Posto de Saúde 1</h2>
                <p>Endereço: Rua Exemplo, 123</p>
                <p>Distância: 2,3 km</p>
                <button class="botao info-btn">mais informações</button>
            </div>

            <div class="card card2">
                <img src="/assets/exemplo-de-posto.jpeg" alt="Posto">
                <h2>Nome do Posto de Saúde 2</h2>
                <p>Endereço: Rua Exemplo, 123</p>
                <p>Distância: 2,3 km</p>
                <button class="botao info-btn">mais informações</button>
            </div>

            <div class="card card3">
                <img src="assets/exemplo-de-posto.jpeg" alt="Posto">
                <h2>Nome do Posto de Saúde 3</h2>
                <p>Endereço: Rua Exemplo, 123</p>
                <p>Distância: 2,3 km</p>
                <button class="botao info-btn">mais informações</button>
            </div>
        </div>

    </div>

</section>
