<section>
    <div class="section">
        <div class="place">
            <input type="text" placeholder="pesquisar unidades" class="input-place">
            <button class="botao">buscar</button>
        </div>
        <div class="place-h2">
            <h2>Unidades mais próximas de você</h2>
        </div>

        <div class="cards">
            <div *ngFor="let item of equipamento" class="cards">
                <div class="card card1">
                    <img src="{{item.urls}}" alt="Posto">
                    <h2>{{ item.nome }}</h2>  <!-- Dynamic name -->
                    <p>Endereço: {{ item.rua }},
                        Número: {{ item.numero }},
                        Bairro: {{ item.bairro }},
                        CEP: {{ item.cep }}
                    </p>
                    <button class="botao info-btn">mais informações</button>
                </div>

            </div>
        </div>

    </div>

</section>
