<form [formGroup]="formatendimento" (ngSubmit)="cadastrar()" method="=POST">
    <h1>Cadastro de Atendimentos</h1>

    <div class="data">
        <input placeholder="Data" type="date" id="data" name="data" formControlName="data" required>
    </div>
    
    <div class="hora_inicio">
        <input placeholder="Hora de Início" type="time" id="horainicio" name="horainicio" formControlName="horainicio" required>
    </div>
    
    <div class="hora_termino">
        <input placeholder="Hora de Término" type="time" id="horatermino" name="horatermino" formControlName="horatermino" required>
    </div>
    
    <div class="servico">
        <select id="tipo_servico" formControlName="id_servico">
            <option value="">Tipo de Serviço</option>
            <option *ngFor="let item of servico" [value]="item.id_servico">{{item.tipo}}</option>
        </select>
    </div>

    <div class="profissional_saude">
        <select id="nome_prof" formControlName = "id_profissional">
            <option value="">Nome do Profissional</option>
            <option *ngFor="let item of profissional_saude" [value]="item.id_profissional">{{item.nome}}</option>
        </select>
    </div>

    <div class="equipamento_saude">
        <select id="nome_equipamento" formControlName = "id_equipamento">
            <option value="">Unidade de Atendimento</option>
            <option *ngFor="let item of equipamento_saude" [value]="item.id_equipamento">{{item.nome}}</option>
        </select>
    </div>

    <div class="usuario">
        <select id="nome_usuario" formControlName = "id_usuario">
            <option value="">Usuário</option>
            <option *ngFor="let item of usuario" [value]="item.id_usuario">{{item.nome}}</option>
        </select>
    </div>
    
    <div id="button">
        <button type="submit">Cadastrar</button>
        <button type="button" (click)="limparCampo()">Limpar</button>
    </div>       
</form>