<form [formGroup]="formatendimento" (ngSubmit)="cadastrar()">
    <h1>Cadastro de Atendimentos</h1>

    <div class="data">
        <input placeholder="Data" type="date" id="data" name="data" formControlName="data" required>
    </div>
    
    <div class="hora_inicio">
        <input placeholder="Hora de Início" type="time" id="horainicio" name="horainicio" formControlName="horainicio" required>
    </div>
    
    <div class="hora_termino">
        <input placeholder="Hora de Término" type="time" id="horatermino" name="horatermino" formControlName="horatermino" required>
    </div>
    
    <div class="equipamento_saude">
        <select id="nome_us" formControlName = "nome_us">
            <option value="">Unidade de Atendimento</option>
            <option *ngFor="let nome_us of equipamento_saude" [value]="nome_us.nome">{{nome_us.nome}}</option>
        </select>

        <select id="tipo" formControlName = "tipo_us">
            <option value="">Tipo da Unidade</option>
            <option *ngFor="let tipo_us of equipamento_saude" [value]="tipo_us.tipo">{{tipo_us.tipo}}</option>
        </select>
    </div>

    <div class="profissional_saude">
        <select id="nome_prof" formControlName = "nome_prof">
            <option value="">Nome do Profissional</option>
            <option *ngFor="let nome_prof of profissional_saude" [value]="nome_prof.nome">{{nome_prof.nome}}</option>
        </select>

        <select id="especialidade" formControlName = "especialidade">
            <option value="">Especialidade</option>
            <option *ngFor="let especialidades of profissional_saude" [value]="especialidades.especialidade">{{especialidades.especialidade}}</option>
        </select>
    </div>

    <div class="atendimento_acesso">
        <select id="tipo_acesso" formControlName = "tipo_acesso">
            <option value="">Tipo de Acesso</option>
            <option *ngFor="let tipo_acesso of atendimento_acesso" [value]="tipo_acesso.tipo">{{tipo_acesso.tipo}}</option>
        </select>
    </div>

    <div class="servico">
        <select id="nome_servico" formControlName="nome_servico">
            <option value="">Nome do Serviço</option>
            <option *ngFor="let nome_servico of servico" [value]="nome_servico.nome">{{nome_servico.nome}}</option>
        </select>
        
        <select id="tipo_servico" formControlName="tipo_servico">
            <option value="">Tipo de Serviço</option>
            <option *ngFor="let tipo_servico of servico" [value]="tipo_servico.tipo">{{tipo_servico.tipo}}</option>
        </select>
    </div>
    
    <div id="button">
        <button type="submit">Cadastrar</button>
        <button type="button" (click)="limparCampo()">Limpar</button>
    </div>       
</form>
    
    
